<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <header>
        <h1>Posts</h1>
        <nav>
            <a href="/">Posts</a>
            <a href="/addnewpost">Add New</a>
        </nav>
    </header>
    <footer>
        <p>Web Application Design homework 4</p>
    </footer>
</body>
</html>